<!DOCTYPE html>
<html>
<head>
  <title>Ruby EPP Client</title>
  <link href="/stylesheets/albino.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container" style="margin-top: 50px; margin-bottom: 20px;">
    <%= yield %>
  </div>
</body>
</html>
